html,
body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size:16px;
}

input {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid rgba(0,0,0,0.3);
  margin-right: 10px
}

input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: rgba(0,0,0,0.3);
}

input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: rgba(0,0,0,0.3);
}

input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: rgba(0,0,0,0.3);
}

h1 {
  font-weight: 600;
  font-size: 4.0em;
  letter-spacing: -3px;
  padding:0;
  margin: 0;
}

.off-canvas-wrap {
    -webkit-backface-visibility: hidden;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.inner-wrap{
  position: relative;
  width: 100%;
}

.main-header{
  z-index: 90;
}

header.main-header {
    margin: 0;
    width: 100%;
    padding: 0;
    background-color: rgba(0,0,0,0.0);
}

.pagePropper{

  background-image: linear-gradient(-74deg, transparent 90%, rgba(255, 255, 255, 0.23) 20%), linear-gradient(-74deg, transparent 83%, rgba(255, 255, 255, 0.18) 15%), linear-gradient(-74deg, transparent 76%, rgba(255, 255, 255, 0.1) 15%), linear-gradient(to top, #b1ab12, #e0de17, #d9db17);
  background-color: #243137;
  background-size:cover;
}

.navbar-inverse{
  background-color: rgba(0,0,0,0.0);
  border-color: rgba(0,0,0,0.0);
}

 .pagePropper{
  margin-top: -214px;
 }

 section.title{
  padding-top: 201px;
 }

 section.title h1, section.title h2, section.title p.flair{
  color: #ffffff;
  text-shadow: #000000 1px 1px 1px;
 }

  section.title p.flair{
    font-size: 28px;
  }

.btn-primary{
  background-color: #b61818;
  border-color: #6a0f0f;
}

.btn-primary:hover{
  background-color: #6a0f0f;
  border-color: #6a0f0f;
}

section.cachacaClub{
  background-color: #2a2f06;
  padding-top: 50px;
  padding-bottom: 50px;
}

 .spaceUp{
  margin-top:20px;
 }
 .spaceUp30{
  margin-top:30px;
 }

.spaceUp50{
  margin-top:80px;
}

.marginRight12{
  margin-right: 12px;
}

.title .btn-default {
  margin-right: 12px;
}

.bottomSection{
    background-image: url(/img/bottom_bar.png);
    background-size: 100% 47px;
    height: 35px;
    width: 100%;
}

.clubSteps{
  background-color: rgba(255,255,255,0.1);
  padding:12px;
  color: #ffffff;


}

.clubSteps h3{
  text-transform: uppercase;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 9px;

}

.clubStepsText{
  padding: 5px;
  margin-bottom: 20px;
}

.mainLabel{
  padding-top: 20px;
  background: linear-gradient(to bottom, rgb(166, 168, 8) 0%,rgb(198, 193, 20) 99%);
  padding-bottom: 30px;
}

.mainLabel h1{
    color: #ffffff;
    text-shadow: #000000 2px 3px;
}

.mainLabel h3{
  font-weight: 500;
}

.mainLabel h3, .mainLabel p{
    color: #ffffff;
    text-shadow: #000000 1px 1px;
  }

.labelShadow{
  margin-top: 20px;
  box-shadow: 0px 6px 30px #000;
}

.price{
    color: #ffffff;
    text-shadow: 2px 3px #000000 !important;
    font-size: 1.8em;
    font-weight: 600;
}

.wineCellar{
  padding-top: 25px;
  background-color: #ffffff;
  color: #747215;
  text-align: center;
  padding-bottom: 50px;
}

.wineCellar h2{
  text-transform: uppercase;
  font-weight: 400;
}
.cellarDisplay{
  background-color: #c7c315;
  min-height: 250px;
}

footer {
  border-top: 10px solid #ffd601;
    outline: 13px solid #899019;
    background-color: #292800;
    color: #ffffff;
}

footer li{
  list-style: none;
}

footer h6{
  font-size: 20px;
}

.navbar li.active a{
  background-color: #8d8902 !important;
}

.navbar li a:hover{
  background-color: #8d8902 !important;
}

.marginBottom20{
  margin-bottom: 20px;
}

.bottlePlace{
  margin: 40px;


}

.bottleInfo{
  background-color: rgba(0,0,0,0.4);
  margin: 20px;
  padding: 20px;
  color: #ffffff;
  text-align: left;
  font-size:100%;
}

.bottleInfo h3{
  padding: 0;
  margin: 0;
  letter-spacing: -1px;
  font-weight: 600;
  font-size: 150%;
}

.bottleInfo h4{
  font-size: 20px;

}

.right-arrow {
  float: right;
  margin-right: 20px;
}